In [11]:
import pandas as pd
import scipy.stats as sts

# create the dictionary to store the data
data = {'year':[], 'schoolid':[], 'treatment':[], 'income':[],'outcome':[],'parents':[],'post':[]}

# iterate over all periods
for year in [2017, 2018, 2019, 2020, 2021, 2022]:
    # iterate over the two treatment status
    for treatment in range(0, 2):
        # generate data from distributions
        income_dst = sts.norm(treatment * 100000 + 50000, 50)
        outcome_dst = sts.norm(treatment * 30 + 600, 50)
        parents_dst = sts.norm(treatment * 3 + 9, 3)
        # append data to the dictionary
        for schoolid in range(1, 10):
            data['year'].append(year)
            data['schoolid'].append(schoolid + 10 * treatment)
            data['treatment'].append(treatment)
            data['income'].append(income_dst.rvs())
            data['outcome'].append(outcome_dst.rvs())
            data['parents'].append(parents_dst.rvs())
            if year <= 2019:
                data['post'].append(1)
            else:
                data['post'].append(0)

# transform into dataframe
df = pd.DataFrame(data)
df.head()

   year  schoolid  treatment        income     outcome   parents  post
0  2017         1          0  50014.614329  612.350220  6.411109     1
1  2017         2          0  50014.606150  624.418208  6.446087     1
2  2017         3          0  50003.888593  503.833226  4.010538     1
3  2017         4          0  49992.063091  724.653408  8.948977     1
4  2017         5          0  50039.560523  590.292167  8.817922     1

In [12]:
df.to_stata('test.dta')